* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif
}

body {
  background: linear-gradient(135deg, rgb(0, 153, 255), rgb(0, 102, 204));
  min-height: 100dvh;
  color: white;
}